@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    font-family: 'Raleway', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

body
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

a
{
    color: #000000;
    text-decoration: none;
}

a:visited
{
    color: #000000;
}

h1
{
    margin: 0px;
    padding: 0px;
}

h2
{
    margin: 0px;
    padding: 0px;
}

ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.blue
{
    color: #0065FC;
}

.light_blue
{
    color: #DEEBFF;
}

.grey
{
    color: #F2F2F2;
}

.darker_grey
{
    color: #D2D2D2;
}

header
{
    margin-bottom: 30px;
}

#search
{
    margin-bottom: 30px;
}

#filters
{
    margin-bottom: 30px;
}

#information-bar 
{
    margin-bottom: 20px;
}

#search-results-rentals
{
    margin-bottom: 30px;
}

#search-results-activities
{
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .mobile-version
    {
        display: none;
    }

    header
    {
        padding-left: 50px;
        padding-right: 50px;
    }

    #search
    {
        padding-left: 50px;
        padding-right: 50px;
    }

    #filters
    {
        padding-left: 50px;
        padding-right: 50px;
    }

    #information-bar 
    {
        padding-left: 50px;
        padding-right: 50px;
    }

    #search-results-rentals
    {
        padding-left: 40px;
        padding-right: 40px;
    }

    #search-results-activities
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .desktop-version
    {
        display: none;
    }

    #search
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    #filters
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    #information-bar 
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    #search-results-rentals article
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    #search-results-rentals aside > div
    {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #search-results-activities
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .result-box
    {
        margin-bottom: 30px;
    }
}
