/* Header */

header
{
    display: flex;
    justify-content: space-between;
}

header div 
{
    display: flex;
    align-items: center;
}

header div img 
{
    object-fit: scale-down;
    width: 100px;
    height: 100px;
}

nav ul 
{
    display: flex;
}

nav ul li 
{
    width: 50%;
}

nav ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav ul li a:hover
{
    color: #0065FC;
}


@media screen and (min-width: 768px) {
    header
    {
        flex-direction: row;
    }

    header div 
    {
        width: 70%;
    }

    header div img 
    {
        padding-left: 20px;
    }

    nav 
    {
        width: 30%;
    }

    nav ul 
    {
        height: 100%;
    }

    nav ul li a
    {
        border-top: #FFFFFF 3px solid;
    }
    
    nav ul li a:hover
    {
        border-top: #0065FC 3px solid;
    }

    nav ul li a span 
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    header
    {
        flex-direction: column;
    }

    header div 
    {
        justify-content: center;
    }

    nav ul li a
    {
        border-bottom: #F2F2F2 3px solid;
    }
    
    nav ul li a:hover
    {
        border-bottom: #0065FC 3px solid;
    }
    
    nav ul li a span 
    {
        font-size: 16px;
        height: 30px;
    }
}
