/* Search */
    
#search p 
{
    margin-top: 5px;
}

#search form
{
    display: flex;
}

#search form span
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

#search-bar
{
    border: solid 1px #F2F2F2;
    font-weight: bold;
    padding-left: 10px;
}

#search form button
{
    height: 100%;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    #search h1
    {
        font-size: 16px;
    }
    
    #search p 
    {
        font-size: 14px;
    }

    #search form button
    {
        border-radius: 0px 10px 10px 0px;
    }
}

@media screen and (max-width: 768px) {
    #search h1
    {
        font-size: 20px;
    }
    
    #search p 
    {
        font-size: 16px;
    }

    #search form div
    {
        position: relative;
    }

    #search form button
    {
        position: absolute;
        left: -12px;
        border-radius: 10px 10px 10px 10px;
    }
}
