/* Search results - General */

#information-bar i
{
    color: #0065FC;
}

#show-more
{
    font-size: 14px;
    font-weight: bold;
}

.result-box > div
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.result-box > div span
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #information-bar 
    {
        font-size: 12px;
    }

    #show-more
    {
        padding-left: 10px;
    }

    #search-results-rentals
    {
        display: flex;
        flex-direction: row;
    }

    #search-results-rentals article
    {
        width: 65%;
        padding-right: 15px;
    }
    
    #search-results-rentals aside
    {
        width: 35%;
        padding-left: 15px;
    }

    .result-box > div
    {
        background-color: #F2F2F2;
        border-radius: 20px 20px 20px 20px;
        padding: 30px 20px 10px 20px;
    }

    .result-box > div span
    {
        font-size: 16px;
        padding-left: 10px;
    }
}


@media screen and (max-width: 768px) {
    #information-bar 
    {
        font-size: 14px;
    }

    #search-results-rentals
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #search-results-rentals aside > div
    {
        background-color: #F2F2F2;
    }

    .result-box > div span
    {
        font-size: 20px;
    }
}

/* Search results - Rentals grid */

#search-results-rentals-grid > div
{
    display: flex;
    justify-content: space-between;
}

#search-results-rentals-grid > div > div
{
    box-sizing: border-box;
}

#search-results-rentals-grid > div > div a figure
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 14px 14px 14px 14px;
    padding: 4px;
    margin: 0px 0px 20px 0px;
    box-shadow: 3px 3px 5px #D2D2D2;
}

#search-results-rentals-grid > div > div a figure:hover
{
    box-shadow: 5px 5px 5px #D2D2D2;
}

#search-results-rentals-grid > div > div a figure img 
{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

#search-results-rentals-grid > div > div a figure figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 20px 8px 10px;
    font-size: 10px;
}

#search-results-rentals-grid > div > div a figure figcaption div h2
{
    margin: 0px 0px 5px 0px;
    font-size: 12px;
}

#search-results-rentals-grid > div > div a figure figcaption div p 
{
    margin: 0px 0px 10px 0px;
}

#search-results-rentals-grid > div > div a figure figcaption ul
{
    display: flex;
    list-style: none;
    width: 100%;
}

@media screen and (min-width: 768px) {
    #search-results-rentals-grid > div > div
    {
        width: 33%;
        padding: 10px;
    }

    #search-results-rentals-grid > div > div a figure img 
    {
        height: 80px;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    #search-results-rentals-grid > div
    {
        flex-direction: column;
    }

    #search-results-rentals-grid > div > div
    {
        width: 100%;
    }

    #search-results-rentals-grid > div > div a figure img 
    {
        height: 120px;
        width: 100%;
    }
}

/* Search results - Rentals - Most populars grid */

#search-results-most-populars-grid
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#search-results-most-populars-grid figure
{
    display: flex;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 14px 14px 14px 14px;
    padding: 4px;
    margin: 10px 0px 10px 0px;
    box-shadow: 3px 3px 5px #D2D2D2;
}

#search-results-most-populars-grid figure:hover
{
    box-shadow: 5px 5px 5px #D2D2D2;
}

#search-results-most-populars-grid figure img 
{
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 40%;
    object-fit: cover;
}

#search-results-most-populars-grid figure figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 8px 20px 8px 10px;
    font-size: 10px;
}

#search-results-most-populars-grid figure figcaption div h2
{
    margin: 0px;
    font-size: 12px;
}

#search-results-most-populars-grid figure figcaption div p 
{
    margin: 0px;
}

#search-results-most-populars-grid figure figcaption ul
{
    display: flex;
    list-style: none;
}
